{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "How To" %} - {{ block.super }}{% endblock %}
{% block content %}
    <div class="mx-auto w-75" style="padding-top: 2rem; padding-bottom: 2rem;">
        <a href="{% url 'howto' %}"><h6 class="text-uppercase text-dark">{% trans "How To?" %}</h6></a>
        <h1 class="pb-3">{% trans "Simple Trade Marketing Control with Certified Routes" %}</h1>
        <img class="card-img-top img-fluid pb-3" src="{% static 'images/trademarketing.jpg' %}"
             alt={% trans "Shopping cart in supermarket." %}>
        <p>{% trans "How to<mark> simply control Trade Marketing using MyMensor? </mark> Do I have to get one license for each trade marketing promoter?" %}</p>
        <p>{% trans "No! It is<mark> MUCH SIMPLER THAN THAT! </mark>" %}</p>
        <p>{% trans "You could start with your own MyMensor account, but for this example let's say that you will start by creating a brand new MyMensor account. Then after creating the new account you will create a <mark> SERVICE USER. </mark> This is a special type of user that is tied to your primary account and can <mark>ONLY CAPTURE MEDIA TO YOU</mark>, with this set of credentials this person <mark>CANNOT ACCESS</mark> your MyMensor account on the Web. Please refer to the points below for a detailed walkthrough on how to do it." %}</p>
        <p>{% trans "<strong>1.</strong> Install MyMensor Mobile app from " %}<a
                href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                target="_blank">{% trans "here." %}</a></p>
        <p>{% trans "<strong>2.</strong> Run app and create your user. Now click " %}<a
                href='https://app.mymensor.com/accounts/login'
                target="_blank">{% trans "here " %}</a>{% trans "and log into your account in the MyMensor WebApp. If you are already logged in to MyMensor in this computer, please logoff first, as otherwise your account will be opened automatically." %}
        </p>
        <p>{% trans "<strong>3.</strong> Your Portfolio is empty, as it is a new account and you did not snap any photos or videos." %}</p>
        <p>{% trans "<strong>4.</strong> In the top right of your screen you will see the username in bold letters, click on it to open a dropdown menu. In this menu click on <strong>Service User</strong>" %}</p>
        <p>{% trans "<strong>5.</strong> Now create a password for your service user. Take note of the password you have created. Remember that MyMensor cannot access any of the passwords you create! After that MyMensor will automatically create a username for your service user, based on your own username." %}</p>
        <p>{% trans "<strong>6.</strong> So your service user is created. You can always come back at this same screen to change the current service user password or to delete the service user." %}</p>
        <p>{% trans "<strong>7.</strong> Now send a link to our download page (https://mymensor.com/download/) together with the username and the password to the person that you want to make captures to you. Remember that with this set of credentials this person <mark>CANNOT ACCESS</mark> your MyMensor account on the Web, the only thing that he or she can do is to capture media that will be sent directly to your account." %}</p>
        <p>{% trans "<strong>8.</strong> You will see the captures from your service user as they come. The captures of each service user you ever create can be seen on the MyMensor WebApp, <mark>even after you delete a service user.</mark> After its deletion, the service user will not be able to send any media to your account anymore, but you will keep in the MyMensor Server all the media you have received." %}</p>
        <p>{% trans "By using MyMensor, even with the Media only plan, you will be able to control your Trade Marketing promoters trusting that the media you receive is genuine and was not modified. The location and time certification coupled with the ability to <mark>extend your capturing powers to remote users</mark> gives you a tremendous power to survey activities in different locations with <mark>great confidence.</mark>" %}</p>
        <p>{% trans "Please keep in mind that it is the <mark>simplest possible way of doing this with MyMensor.</mark>" %}</p>
        <p>{% trans "You could click " %}<a
                href="{% trans "mailto:contact@mymensor.com?subject=MyMensor CUSTOM Quote Request&body=Please contact me in order to start discussing a custom MyMensor for my Organization. Thanks!" %}"
                role="button">{% trans "here to send us an email asking for a MyMensor CUSTOM." %}</a>{% trans " and we will build one taylor made to your organization!" %}
        </p>
        <p>{% trans "In anyway, " %}<a id="registerbtn"
                                       class="registerbtn"
                                       href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">{% trans "Start your 30-day free-trial now. " %}</a>{% trans "<mark>No Credit Card is required during trial period</mark> and, even when you have subscribed, you can easily cancel at any time, just clicking a button!" %}
        </p>
    </div>

{% endblock %}