{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "How To" %} - {{ block.super }}{% endblock %}
{% block content %}
    <div class="mx-auto w-75" style="padding-top: 2rem; padding-bottom: 2rem;">
        <a href="{% url 'howto' %}"><h6 class="text-uppercase text-dark">{% trans "How To?" %}</h6></a>
        <h1 class="pb-3">{% trans "Set Up Automatic Sharing" %}</h1>
        <img class="card-img-top img-fluid pb-3" src="{% static 'images/setupautoshare.jpg' %}"
             alt={% trans "Concept of a connected world." %}>
        <p>{% trans "In MyMensor you can set up automatic sharing to a Twitter account that you choose and also to an email account." %}</p>
        <p>{% trans "When using Twitter you will be able to configure one account to be used for all your captures, in case of email you can configure a different email account for each VP." %}</p>
        <p>{% trans "To configure the automatic sharing you have to be logged in at the MyMensor WebApp." %}</p>
        <p>{% trans "Now let's check how to do it with Twitter:" %}</p>
        <p>{% trans "<strong>1.</strong> In the top right of your screen you will see your username in bold letters, click on it to open a dropdown menu. In this menu click on <strong>Twitter Account</strong>." %}</p>
        <p>{% trans "<strong>2.</strong> Follow the instructions in the screen to authorize the app to use your Twitter account to post. You can always come back here and disconnect your account." %}</p>
        <p>{% trans "<strong>3.</strong> Click now on the <strong>Setup</strong> menu item and the on <strong>VPs</strong> in the dropdown menu." %}</p>
        <p>{% trans "<strong>4.</strong> Select the VP that you want to publish using Twitter and check the checkbox for <strong>Share all of this vp captures to the Twitter Account configured.</strong> Following Twitter procedures MyMensor has to ask for an explicit consent from you to post your media automatically to Twitter. To do so you have to type in your username." %}</p>
        <p>{% trans "<strong>5.</strong> Please remember that you can remark your medias in the Mobile app prior to posting!" %}</p>
        <p>{% trans "<strong>6.</strong> Press <strong>Submit</strong> to save your changes!" %}</p>

        <p class="mt-5">{% trans "You can share also to email:" %}</p>
        <p>{% trans "<strong>1.</strong> Click on the <strong>Setup</strong> menu item and the on <strong>VPs</strong> in the dropdown menu." %}</p>
        <p>{% trans "<strong>2.</strong> Select the VP that you want to publish using Email and fill the field <strong>Send all of this vp captures to the following email</strong> with the email that you want to send the captures to." %}</p>
        <p>{% trans "<strong>3.</strong> Please remember that you can remark your medias in the Mobile app prior to posting!" %}</p>
        <p>{% trans "<strong>4.</strong> Press <strong>Submit</strong> to save your changes!" %}</p>
        <p class="mt-5">{% trans "We hope this will make your life easier!" %}</p>
        <p>{% trans "So, look no further, " %}
            <a id="registerbtn" class="registerbtn"
               href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">{% trans "start your 30-day free-trial now! " %}</a>{% trans "<mark>No Credit Card is required during trial period</mark> and, even when you have subscribed, you can easily cancel at any time, just clicking a button!" %}
        </p>
    </div>

{% endblock %}