{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "How To" %} - {{ block.super }}{% endblock %}
{% block content %}
    <div class="mx-auto w-75" style="padding-top: 2rem; padding-bottom: 2rem;">
        <h1 class="pb-3">{% trans "Using Your Own Data for Your Own Benefit" %}</h1>
        <img class="card-img-top img-fluid pb-3" src="{% static 'images/usingyourowndata.jpg' %}"
                 alt={% trans "Man surfing the bigdata wave, in form of a dollar sign." %}>
        <p>{% trans "With MyMensor you can be sure that the media you receive is genuine, you can use service users to capture media from remote locations and deliver that to you automatically, always with confidence. But there is more to MyMensor than all that." %}</p>
        <p>{% trans "MyMensor provides you with some simple, but very efffective tools, to gather data on the field. You use the aforementioned features and with the media received you can process the data. With time you will amass a huge amount of information."%}</p>
        <p>{% trans "Let me show you this " %}</p>
        <p>{% trans "MyMensor can help you accomplish that. With the use of the <mark>MyMensor Media and Data Plan</mark> you will be able to gather the data you need to form your big data. And with that you will set optimal regions of operation for your business." %}</p>
        <p>{% trans "But OK, we are getting a little bit ahead of ourselves here! Firstly, you need to " %}
            <a id="registerbtn" class="registerbtn"
               href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">{% trans "start your 30-day free-trial now! " %}</a>{% trans "<mark>No Credit Card is required during trial period</mark> and, even after you have subscribed, you can easily cancel at any time, just clicking a button!" %}
        </p>
        <p>{% trans "Use your trial period to learn in our website how to setup a simple an efficient way to drive your business profits up! And, of course, drop us an email in case you need more info!" %}</p>
    </div>

{% endblock %}