{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Cases" %} - {{ block.super }}{% endblock %}
{% block content %}
    <p></p>
    <h3>{% trans "Following Jobs Remotely with the MyMensor Media Plan and Media and Data Plan" %}</h3>
    <p></p>
    <p>{% trans "I have a friend that is a very successful accountant in a European country. Once he told me a tale of a client who invested in the construction of an apartment building in Africa." %}</p>
    <p>{% trans "Everything went well, so he decided to go for the second one." %}</p>
    <p>{% trans "In the first one he had relied on photos sent to him via email to check the progress of the project, only going on site for the commencement and delivery of the building. So, he followed the same path in the second one." %}</p>
    <p>{% trans "The trouble is that the second building was delayed, he continued receiving the photos by email, eventually he decided to take a flight and make a surprise visit to the construction site. Of course that you already know what happened." %}</p>
    <p>{% trans "There was no second building! His money was gone and down there he discovered that he was targeted with a scam known to the locals. He needed a tool to protect him from that." %}</p>
    <p>{% trans "Using just the MyMensor Media Plan one could follow the project headway remotely using the certified media. Going even deeper you could establish measuring criteria and using MyMensor Media and Data Plan follow up the different aspects of the construction using the tables and graphical MyMensor tools." %}</p>
    <p>{% trans "Do you have a remote project and it is going astray? We can help mend that! " %}<a id="registerbtn"
            href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">{% trans "Start your 30-day free-trial now. " %}</a>
    </p>
{% endblock %}