{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Cases" %} - {{ block.super }}{% endblock %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="mx-auto w-75" style="padding-top: 2rem; padding-bottom: 2rem;">
        {% if LANGUAGE_CODE == "pt" %}
            <h6 class="text-uppercase text-dark">{% trans "MyMensor Use Cases" %}</h6>
            <h1 class="pb-3">Controle Simples de Trade Marketing com Rotas Certificadas</h1>
            <img class="card-img-top img-fluid pb-3" src="{% static 'images/trademarketing.jpg' %}"
                 alt={% trans "Shopping cart in supermarket." %}>
            <p>Controlar eficientemente a forma que o seu promotor de trade marketing se move pela cidade, sem ter que
                preencher uma montanha de cadastros e sem mudar a sua forma de trabalhar. E, além disso, <mark>sem custos de implantação!</mark> Parece tentador, não?</p>
            <p>Com o <strong>MyMensor</strong> você receberá as fotos que o seu promotor fará durante o trabalho de trade marketing de maneira automática, certificada e segura.</p>
            <p>Usando a nossa <a href="https://app.mymensor.com">WebApp</a> você verá as rotas que o seu promotor fez,
                como, por exemplo, uma imagem da gondola de um supermercado, assim que ela tenha sido feita e saberá a
                localização exata!</p>
            <p>Além disso as fotos ficam guardadas em nossos servidores na nuvem, sem risco de serem perdidas.</p>
            <p>Verificar ações de merchandising no ponto de venda torna-se tarefa simples com a utilização do MyMensor.
                O seu promotor poderá fazer fotos e mini vídeos da ação, sempre com certificação de horário e
                localização.</p>
            <p>Mas isto é só o começo! Há muito mais no Mymensor: arquivamento automático,
                partilhamento automático etc. Então, não espere, <a id="registerbtn" class="registerbtn"
                                                               href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">
                    comece seu teste gratuito de 30 dias agora! </a>
                <mark>Sem cartão de crédito durante o período de testes</mark>
                e, mesmo depois que você assinar, você poderá cancelar a qualquer momento, com um único clique de botão!
            </p>
            <p><a href="{% url 'genusemediaplanhowto' %}"
                  class="text-primary">Liked the case? Click here to see how to do it using MyMensor!</a>
            </p>
        {% elif LANGUAGE_CODE == "pt-br" %}
            <h6 class="text-uppercase text-dark">{% trans "MyMensor Use Cases" %}</h6>
            <h1 class="pb-3">Controle Simples de Trade Marketing com Rotas Certificadas</h1>
            <img class="card-img-top img-fluid pb-3" src="{% static 'images/trademarketing.jpg' %}"
                 alt={% trans "Shopping cart in supermarket." %}>
            <p>Controlar eficientemente a forma que o seu promotor de trade marketing se move pela cidade, sem ter que
                preencher uma montanha de cadastros e sem mudar a sua forma de trabalhar. E, além disso, <mark>sem custos de implantação!</mark> Parece tentador, não?</p>
            <p>Com o <strong>MyMensor</strong> você receberá as fotos que o seu promotor fará durante o trabalho de trade marketing de maneira automática, certificada e segura.</p>
            <p>Usando a nossa <a href="https://app.mymensor.com">WebApp</a> você verá as rotas que o seu promotor fez,
                como, por exemplo, uma imagem da gondola de um supermercado, assim que ela tenha sido feita e saberá a
                localização exata!</p>
            <p>Além disso as fotos ficam guardadas em nossos servidores na nuvem, sem risco de serem perdidas.</p>
            <p>Verificar ações de merchandising no ponto de venda torna-se tarefa simples com a utilização do MyMensor.
                O seu promotor poderá fazer fotos e mini vídeos da ação, sempre com certificação de horário e
                localização.</p>
            <p>Mas isto é só o começo! Há muito mais no Mymensor: arquivamento automático,
                compartilhamento automático etc. Então, não espere, <a id="registerbtn" class="registerbtn"
                                                               href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">
                    comece seu teste gratuito de 30 dias agora! </a>
                <mark>Sem cartão de crédito durante o período de testes</mark>
                e, mesmo depois que você assinar, você poderá cancelar a qualquer momento, com um único clique de botão!
            </p>
            <p><a href="{% url 'genusemediaplanhowto' %}"
                  class="text-primary">Liked the case? Click here to see how to do it using MyMensor!</a>
            </p>
        {% else %}
            <h6 class="text-uppercase text-dark">{% trans "MyMensor Use Cases" %}</h6>
            <h1 class="pb-3">Controle Simples de Trade Marketing com Rotas Certificadas</h1>
            <img class="card-img-top img-fluid pb-3" src="{% static 'images/trademarketing.jpg' %}"
                 alt={% trans "Shopping cart in supermarket." %}>
            <p>Controlar eficientemente a forma que o seu promotor de trade marketing se move pela cidade, sem ter que
                preencher uma montanha de cadastros e sem mudar a sua forma de trabalhar. E, além disso, <mark>sem custos de implantação!</mark> Parece tentador, não?</p>
            <p>Com o <strong>MyMensor</strong> você receberá as fotos que o seu promotor fará durante o trabalho de trade marketing de maneira automática, certificada e segura.</p>
            <p>Usando a nossa <a href="https://app.mymensor.com">WebApp</a> você verá as rotas que o seu promotor fez,
                como, por exemplo, uma imagem da gondola de um supermercado, assim que ela tenha sido feita e saberá a
                localização exata!</p>
            <p>Além disso as fotos ficam guardadas em nossos servidores na nuvem, sem risco de serem perdidas.</p>
            <p>Verificar ações de merchandising no ponto de venda torna-se tarefa simples com a utilização do MyMensor.
                O seu promotor poderá fazer fotos e mini vídeos da ação, sempre com certificação de horário e
                localização.</p>
            <p>Mas isto é só o começo! Há muito mais no Mymensor: arquivamento automático,
                compartilhamento automático etc. Então, não espere, <a id="registerbtn" class="registerbtn"
                                                               href="https://app.mymensor.com/{{ LANGUAGE_CODE }}/accounts/register/">
                    comece seu teste gratuito de 30 dias agora! </a>
                <mark>Sem cartão de crédito durante o período de testes</mark>
                e, mesmo depois que você assinar, você poderá cancelar a qualquer momento, com um único clique de botão!
            </p>
            <p><a href="{% url 'genusemediaplanhowto' %}"
                  class="text-primary">Liked the case? Click here to see how to do it using MyMensor!</a>
            </p>
        {% endif %}


    </div>
{% endblock %}