{% load staticfiles is_active i18n tz counter assign cookielaw_tags%}
{% localtime on %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Basic Page Needs.
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}
				MyMensor
			{% endblock %}
		</title>
	    <meta name="MyMensor WebApp" content="">
	    <meta name="SeaMate" content="">

	    <!-- Mobile Specific Metas
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- FONT
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	    <!-- CSS
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" >
        <link rel="stylesheet" href="{% static 'css/cookielaw.css' %}" >
        <link rel="stylesheet" href="{% static 'css/chosen.css' %}" >
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" >
        <link rel="stylesheet" href="{% static 'css/social-share-kit.css' %}" >
        <link rel="stylesheet" href="{% static 'django_tables2/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/mymensorstyle.css' %}" >
        <!-- Favicon
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'images/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#00afef">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="msapplication-config" content="images/browserconfig.xml">
        <meta name="theme-color" content="#00afef">
        {% cookielaw_banner %}
		{% block header %}{% endblock %}
	</head>
    {% load tz_detect %}
    {% tz_detect %}

    <body>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;" id="myNavbar">
            <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'portfolio' %}"><img src="{% static 'images/Logo_MyMensor_NEW3.svg' %}" width="46" height="46" alt=""></a>
            <div id="navbarNavDropdown" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link {% is_active request 'portfolio' %}" href="{% url 'portfolio' %}">{% trans "Portfolio" %}</a></li>
                        <li class="nav-item"><a class="nav-link {% is_active request 'vpdetail' %}" href="{% url 'vpdetail' %}">{% trans "Media" %}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Data" %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'tagstatus' %}">{% trans "Status" %}</a>
                                <a class="dropdown-item" href="{% url 'taganalysis' %}">{% trans "Analysis" %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'tagprocessing' %}">{% trans "Processing" %}</a>
                                <a class="dropdown-item" href="{% url 'proctagedit' %}">{% trans "Edit" %}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Setup" %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'assetsetup' %}">{% trans "Asset" %}</a>
                                <a class="dropdown-item" href="{% url 'vpsetup' %}">{% trans "VPs" %}</a>
                                <a class="dropdown-item" href="{% url 'tagsetup' %}">{% trans "TAGs" %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'mobilebackup' %}">{% trans "Mobile Backup" %}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link {% is_active request 'auth_login' %}" href="{% url 'auth_login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link {% is_active request 'registration_register' %}" id="regnewuser" href="{% url 'registration_register' %}">Register</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Logged in as: {{ user.get_username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
                                <a class="dropdown-item" href="{% url 'auth_password_change' %}">Password change</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'support' %}">Support</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
        </div><!-- /.container -->
        <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
        <script src="{% static "js/tether.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/moment.min.js" %}"></script>
        <script src="{% static "js/daterangepicker.js" %}"></script>
        <script src="{% static "js/chosen.jquery.min.js" %}"></script>
        <script src="{% static "js/mymensor-jquery.js" %}"></script>
        <script src="{% static "js/cookielaw.js" %}"></script>
        <script src="{% static "js/social-share-kit.js" %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
        <!-- Page Local Scripts
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        {% block javascript %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </body>
</html>
{% endlocaltime %}
