{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Cases" %} - {{ block.super }}{% endblock %}
{% block content %}
    <h1 class="mt-5 mb-5 ml-4">{% trans "MyMensor Use Cases" %}</h1>
    <hr>
    <div id="casestext" class="d-flex justify-content-start flex-wrap">
        <div id="genusemediaplan" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/genusemediaplan.jpg' %}"
                 alt={% trans "Pinocchio sitting over a mobile phone." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Making Sure that a Photo is NOT a Fake" %}</h4>
                <p class="card-text">{% trans "On this day and age, how can one be sure that a photo is not a fake? Of course there are a number of very sofisticated methods to assure that, with a high confidence percentage. But if we knew, for sure, how the photo was taken? Is it not an easier solution?" %}</p>
            </div>
        </div>
        <div id="followingjobs" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/followingremotejobs.jpg' %}"
                 alt={% trans "Staging for producing a fake photo." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Following Jobs Remotely " %}</h4>
                <p class="card-text">{% trans "One cannot be in more than one place at the same time, sure? Not quite, if we use the technology that is available right now!" %}</p>
            </div>
        </div>
        <div id="usingyourowndata" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/usingyourowndata.jpg' %}"
                 alt={% trans "Man surfing the bigdata wave, in form of a dollar sign." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Using <u>Your</u> Own Data for <u>Your</u> Own Benefit " %}</h4>
                <p class="card-text">{% trans "Do like all big tech corporations are doing. They are using <u>your</u> data for <u>their</u> benefit, and most of the time we cannot prevent that. <mark>But we can use our own data for our own benefit, can't we?</mark>. " %}</p>
            </div>
        </div>
        <div id="routestrademarketing" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/trademarketing.jpg' %}"
                 alt={% trans "Shopping cart in supermarket." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Simple Trade Marketing Control with Certified Routes" %}</h4>
                <p class="card-text">{% trans "Control efficiently the way your trade marketing promoter moves around the city, make remotely checking merchandising actions at the point of sale a simple task." %}</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}

    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        $('.card').click(function (event) {
            event.preventDefault();
            var idclicked = $(this).attr('id');
            console.log("Clicked on: id=" + idclicked);
            window.location = '/{{ LANGUAGE_CODE }}/cases/'+idclicked;
        });


    </script>

{% endblock %}