{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Cases" %} - {{ block.super }}{% endblock %}
{% block content %}
    <p></p>
    <h3>{% trans "Use Cases" %}</h3>
    <p></p>
    <hr>
    <h4><a href="{% url 'genusemediaplan' %}" target="_blank">{% trans "General Purpose Use for the MyMensor Media Plan" %}</a></h4>

    <h4><a href="{% url 'followingremotejobs' %}" target="_blank">{% trans "Following Jobs Remotely with the MyMensor Media Plan and Media and Data Plan" %}</a></h4>

{% endblock %}