{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% block title %}Docs - {{ block.super }}{% endblock %}
{% block content %}
    <p></p>
    <h3>{% trans "Deeper Info about MyMensor" %}</h3>
    <p></p>
    <p></p>
    <p class="text-justify">
        {% trans "MyMensor brings the reality to your grasp, allowing information to flow throughout your team." %}
        {% trans "Always guided by simplicity in operation, the solution shows through reports and photographic evidence its strength as a support tool in making medium-long term decisions about how your projects are going." %}
        {% trans "MyMensor allows better sharing of knowledge from experienced professionals, who are no longer in the field, with those who are there." %}
        {% trans "With time, a massive amount of structured data and photographic evidence will be available to all your team, cutting maintenance costs and streamlining operations." %}
    </p>
    <h4 class="text-info">{% trans "How it works?" %}</h4>
    <h5 class="text-info">{% trans "1. Define what you want to follow-up" %}</h5>
    <p class="text-justify">
        {% trans "First you will define what are the things that you want to follow-up." %}
        {% trans "Want to know the temperature of that bearing that is a headache from time to time? Want to see if a specific store is organized and compliant? Need to follow up closely that pump that repeatedly starts to leak and eventually breaks? All these can be MyMensor verification points." %}
        {% trans "Of course, you can follow-up digital and analog gauges. Even you can follow-up computer screens!" %}
        {% trans "You will have to define in what periodicity you will want the VPs to be captured. Please note that this can be changed remotely at any given time." %}
    </p>
    <h5 class="text-info">{% trans "2. On-site configuration" %}</h5>
    <p class="text-justify">
        {% trans "After the scope is defined you need to perform your configuration." %}
        {% trans "For each VP you will have to define what is the better capture startegy. There are some alternative strategies for the VP image capturing but we cannot guarantee beforehand that all intended VPs will be technically viable." %}
        {% trans "To be able to define if you will use AR or not and what type of VP, please refer to our documentation and videos" %}
    </p>
    <h5 class="text-info">{% trans "3. Image captures, processing and automatic dashboard updates" %}</h5>
    <p class="text-justify">
        {% trans "And finally this is the usage phase!" %}
        {% trans "Images are captured by you or by someone appointed by you using your MyMensor account, the smartphone uses the internet connection to send the images to MyMensor servers automatically." %}
        {% trans "Images are processed either by you or someone in your organization and the data is automatically fed into your dashboard." %}
    </p>
    <h4 class="text-info">{% trans "Into Details" %}</h4>
    <h5 class="text-info">{% trans "1. Verification Points - VPs" %}</h5>
    <p class="text-justify">
        {% trans "A VP (Verification Point) is each of the visual targets for the capture of images (pictures). Each VP may have one or several TAGs." %}
        {% trans "A VP may be a photo of pretty much anything. You will have to assess what can be a standard VP or if it is needed to use one our possible alternative options to capture the required image." %}
        {% trans "For instance, a VP may be an image of an equipment panel, digital gauges, analog gauges, computer and other devices screens, compliance items etc, and even portable VPs to follow on going jobs and specific problems." %}
    </p>
    <h6 class="text-info">{% trans "Standard VPs" %}</h6>
    <p class="text-justify">
        {% trans "This is the most common type, where the VP image is enough to identify the subject perfectly." %}
    </p>
    <h6 class="text-info">{% trans "Ambiguous VPs" %}</h6>
    <p class="text-justify">
        {% trans "How to differentiate panels that are almost the same? How to tell apart one main equipment and its backup?" %}
        {% trans "To solve this ambiguity problem we developed a specific technology." %}
        {% trans "In this case you will need to apply small markers (normally to be printed in adhesive) to the subjects to be captured in order to be able to tell them apart." %}
        {% trans "The markers are small 45mm squares that the smartphone will use to identify images that otherwise would be impossible to differentiate." %}
    </p>
    <h6 class="text-info">{% trans "Super VPs" %}</h6>
    <p class="text-justify">
        {% trans "One obvious downside of the image recognition technology is that you need an image to recognize." %}
        {% trans "That means that the VP subject cannot change completely, as the smartphone would be unable to recognize an image that no longer exists." %}
        {% trans "To solve this problem we developed another specific technology." %}
        {% trans "In this case we use an specific image as a subject of our VP. This subject is then called (very humbly) by us a super VP." %}
        {% trans "So, using this super VP you will be able to capture images that change a lot, that change color, or have large parts included or excluded." %}
        {% trans "The smartphone will always capture the image in the same relative position initially configured for each specific super VP." %}
    </p>
    <p></p>
    <p></p>
    <h5 class="text-info">{% trans "2. TAGs" %}</h5>
    <p class="text-justify">
        {% trans "A TAG is the real data contained within a VP." %}
        {% trans "The TAG will always be a numerical value, so you have to  includ this concept when preparing your TAG questions." %}
        {% trans "For instance, in a photo of a certain equipment control panel (that would be a VP) we can have multiple TAGs: the hour-meter, the tachometer etc." %}
        {% trans "In an image of compliance items, we can check if an area is tidy as it should be (10 if perfect, 8 if OK, for example), or if all safety equipment are in the right place etc." %}
        {% trans "For each and every TAG you will define a tag question, that will be answered by you or your team when processing the VPs images." %}
    </p>
{% endblock %}