{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Download" %} - {{ block.super }}{% endblock %}
{% block content %}
    <h3 class="mt-5">{% trans "Download MyMensorAR Mobile App" %}</h3>
    <p></p>
    <p class="text-justify">{% blocktrans %}This app uses Augmented Reality (AR) to automatically find and archive your
        media in the pre-configured folders.{% endblocktrans %}</p>
    <div id="mymensorarmobappdownloads">
        <div class="d-flex align-content-start flex-wrap">
            <div class="card card-outline-primary m-2" style="width: 30rem;">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Android App" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <a href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                       target="_blank"><img
                            class="card-img-top img-fluid"
                            alt='Disponível no Google Play'
                            src='https://play.google.com/intl/en/badges/images/generic/pt_badge_web_generic.png'/></a>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <a href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                       target="_blank"><img
                            class="card-img-top img-fluid"
                            alt='Disponível no Google Play'
                            src='https://play.google.com/intl/en/badges/images/generic/pt-br_badge_web_generic.png'/></a>
                {% else %}
                    <a href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                       target="_blank">
                        <img
                                class="card-img-top img-fluid"
                                alt='Get it on Google Play'
                                src='https://play.google.com/intl/en/badges/images/generic/en_badge_web_generic.png'/>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}