{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% block title %}FAQ - {{ block.super }}{% endblock %}
{% block content %}
    <p></p>
    <h3>{% trans "Frequently Asked Questions" %}</h3>
    <p></p>

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">
                        {% trans "Why should I use MyMensor?" %}
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    {% trans "Because there is no substitute for your own eyes and ears! With MyMensor, it is like being there. Using our technology you will know where and when the photos and videos were taken. You will also be certain that photos and videos where not tampered with." %}
                    {% trans "Do you need to be sure that something was done? Use MyMensor to verify completion, with precise location and timing." %}
                    <p></p>
                    {% trans "Most popular apps that are used to distribute media using your smartphone allow all diferent sources for the media, including outside sources. With MyMensor ALL MEDIA is produced with our own software, so you REALLY know where that media came from." %}
                    <p></p>
                    {% trans "Possibilities are endless, even not using Augmented Reality (AR). But if you use AR, then the true power of MyMensor emerges, with automatic photos and filing." %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        {% trans "Can I share the certified media with someone that DOES NOT have a MyMensor Account?" %}
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    {% trans "YES, you can! And you can do it manually or automatically!" %}
                    {% trans "In the mobile app you can share your captures using the normal sharing capabilities of your smartphone." %}
                    <p></p>
                    {% trans "When using our webapp, you can do it manually " %}<a
                        href="https://app.mymensor.com/vpdetail/" class="text-primary">{% trans "(See here.)" %}</a>
                    <p></p>
                    {% trans "Or you can automatically share your captures to Twitter, Facebook or email " %}<a
                        href="https://app.mymensor.com/vpsetup/"
                        class="text-primary">{% trans "(Configure here.)" %}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                       aria-expanded="false" aria-controls="collapseThree">
                        {% trans "My smartphone clock is wrongly configured, so goodbye certified time?" %}
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    {% trans "No! The only thing you need to certify your time is an internet connection. Our software DOES NOT use the internal smartphone clock." %}
                    {% trans "Every time you run your MyMensor mobile app we check the time using iternet time servers and after that we use our own clock." %}
                    {% trans "When you see the green clock icon in your smartphone screen then your time is certified!" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                       aria-expanded="false" aria-controls="collapse4">
                        {% trans "FAQ #4" %}
                    </a>
                </h5>
            </div>
            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="card-block">
                    {% trans "Answer to FAQ#4" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading5">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                       aria-expanded="false" aria-controls="collapse5">
                        {% trans "FAQ #5" %}
                    </a>
                </h5>
            </div>
            <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5">
                <div class="card-block">
                    {% trans "Answer to FAQ#5" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading6">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6"
                       aria-expanded="false" aria-controls="collapse6">
                        {% trans "FAQ #6" %}
                    </a>
                </h5>
            </div>
            <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6">
                <div class="card-block">
                    {% trans "Answer to FAQ#6" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading7">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7"
                       aria-expanded="false" aria-controls="collapse7">
                        {% trans "FAQ #7" %}
                    </a>
                </h5>
            </div>
            <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7">
                <div class="card-block">
                    {% trans "Answer to FAQ#7" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading8">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8"
                       aria-expanded="false" aria-controls="collapse8">
                        {% trans "FAQ #8" %}
                    </a>
                </h5>
            </div>
            <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8">
                <div class="card-block">
                    {% trans "Answer to FAQ#8" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading9">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9"
                       aria-expanded="false" aria-controls="collapse9">
                        {% trans "FAQ #9" %}
                    </a>
                </h5>
            </div>
            <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9">
                <div class="card-block">
                    {% trans "Answer to FAQ#9" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading10">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10"
                       aria-expanded="false" aria-controls="collapse10">
                        {% trans "FAQ #10" %}
                    </a>
                </h5>
            </div>
            <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10">
                <div class="card-block">
                    {% trans "Answer to FAQ#10" %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}