{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "How To?" %} - {{ block.super }}{% endblock %}
{% block content %}
    <h1 class="mt-5 mb-5 ml-4">{% trans "How to?" %}</h1>
    <hr>
    <div id="casestext" class="d-flex justify-content-start flex-wrap">
        <div id="genusemediaplan" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/genusemediaplan.jpg' %}"
                 alt={% trans "Pinocchio sitting over a mobile phone." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Making Sure that a Photo is NOT a Fake" %}</h4>
                <p class="card-text">{% trans "How to do that using MyMensor???? Click and learn!!!" %}</p>
            </div>
        </div>
        <div id="followingremotejobs" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/followingremotejobs.jpg' %}"
                 alt={% trans "Staging for producing a fake photo." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Following Jobs Remotely " %}</h4>
                <p class="card-text">{% trans "MyMensor will empower you to accomplish that! Follow our step by step how-to guide." %}</p>
            </div>
        </div>
        <div id="usingyourowndata" class="card m-3 card-outline-secondary" style="width: 22rem;">
            <img class="card-img-top img-fluid" src="{% static 'images/usingyourowndata.jpg' %}"
                 alt={% trans "Staging for producing a fake photo." %}>
            <div class="card-body p-3">
                <h4 class="card-title">{% trans "Using <u>Your</u> Own Data for <u>Your</u> Own Benefit " %}</h4>
                <p class="card-text">{% trans "How can <u>I do that?</u> Find here a detailed guide on how MyMensor will build that for <u>YOU</u>. " %}</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}

    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        $('.card').click(function (event) {
            event.preventDefault();
            var idclicked = $(this).attr('id');
            console.log("Clicked on: id=" + idclicked);
            window.location = '/{{ LANGUAGE_CODE }}/howto/'+idclicked;
        });


    </script>

{% endblock %}