{% extends 'base.html' %}
{% load staticfiles i18n tz %}
{% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    {% block title %}{{ block.super }}{% endblock %}
    {% block content %}
        <style>
            /* note: this is a hack for ios iframe for bootstrap themes shopify page */
            /* this chunk of css is not part of the toolkit :) */
            /* …curses ios, etc… */
            @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
                body {
                    width: 1px;
                    min-width: 100%;
                    *width: 100%;
                }

                #stage {
                    height: 1px;
                    overflow: auto;
                    min-height: 100vh;
                    -webkit-overflow-scrolling: touch;
                }
            }
        </style>
        <div class="stage-shelf stage-shelf-right hidden eupopup eupopup-bottom eupopup-style-compact" id="sidebar">
            <ul class="nav nav-bordered nav-stacked flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'docs' %}">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'videos' %}">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://app.mymensor.com/accounts/login/">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://app.mymensor.com/accounts/register/"><strong
                            style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">Register</strong></a>
                </li>
            </ul>
        </div>

        <div class="stage" id="stage">

            <div class="block block-inverse block-fill-height app-header"
                 style="background-image: url({% static 'images/carousel01.jpg' %});">
                <div class="container py-4 fixed-top app-navbar">
                    <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
                        <button
                                class="navbar-toggler navbar-toggler-right hidden-md-up"
                                type="button"
                                data-target="#stage"
                                data-toggle="stage"
                                data-distance="-250">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <a class="navbar-brand mr-auto" href="{% url 'index' %}">
                            <img src="{% static 'images/Logo_MyMensor_NEW3.svg' %}" width="120" height="120" alt="">
                        </a>

                        <div class="hidden-sm-down text-uppercase">
                            <ul class="navbar-nav">
                                <li class="nav-item px-1 ">
                                    <a class="nav-link" href="{% url 'docs' %}">Docs</a>
                                </li>
                                <li class="nav-item px-1 ">
                                    <a class="nav-link" href="{% url 'videos' %}">Videos</a>
                                </li>
                                <li class="nav-item px-1 ">
                                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                                </li>
                                <li class="nav-item px-1 ">
                                    <a class="nav-link" href="https://app.mymensor.com/accounts/login/">Login</a>
                                </li>
                                <li class="nav-item px-1 ">
                                    <a class="nav-link" href="https://app.mymensor.com/accounts/register/"><strong
                                            style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">Register</strong></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="block-foreground block-xs-middle pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-lg-6">
                                <h1 class="block-titleData frequency">{% trans "Simple and evidenced control." %}</h1>
                                <p class="lead mb-4 text-muted">{% trans " Use images to control everything remotely <br> using an Android smartphone." %}</p>
                                <a class="btn btn-primary btn-lg" href="https://app.mymensor.com/accounts/register/"
                                   role="button">{% trans "Try Now" %}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="block block-secondary app-iphone-block">
                <div class="container">
                    <div class="row app-align-center">

                        <div class="col-sm-5 hidden-sm-down">
                            <a data-toggle="modal" data-target="#mediaModal"
                               data-whatever="{% static 'images/compostelamediacheck2.jpeg' %}">
                                <img class="app-iphone" src="{% static 'images/compostelamediacheck2.jpeg' %}" alt=""
                                     style="width: 120%;">
                            </a>
                        </div>

                        <div class="col-md-6 offset-md-1 col-sm-12 offset-sm-0">
                            <h6 class="text-muted text-uppercase">{% trans "Certified Information" %}</h6>
                            <h3>{% trans "Turn captured images into certified information." %}</h3>
                            <p class="lead mb-4">{% trans "We combine smartphone mobility with database and security technologies to keep your information organized and accessible." %}</p>
                            <div class="row hidden-md-down">
                                <div class="col-sm-6 mb-3">
                                    <h5>{% trans "Real Time" %}</h5>
                                    <p>{% trans "The captures come to your view immediately after they occur. You can react immediately, without waiting for someone to send you the information." %}<a
                                            href="{% url 'docs' %}" class="text-primary">{% trans " See here." %}</a>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <h5>{% trans "Reliability and Safety " %}</h5>
                                    <p>{% trans " We use world-class servers, maintaining first-class reliability and security." %}<a
                                            href="{% url 'docs' %}" class="text-primary">{% trans " See here." %}</a>.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="block block-foreground block-fill-height"
                 style="background-image: url({% static 'images/carousel02.jpg' %});">
                <div class="container">
                    <div class="row app-align-center">
                        <div class="col-md-5 push-md-7">

                        </div>
                        <div class="col-md-6 pull-md-5">
                            <h6 class="text-gray-dark text-uppercase">{% trans "Control Made Simple" %}</h6>
                            <h3>{% trans "Revolutionize your control practices. Work with portability of information and reality." %}</h3>
                            <p class="lead mb-4 text-gray-dark">{% trans "Using our web application you have access to all your information anywhere, anytime. The reality will be portable for you to be transported to wherever you are." %}</p>
                            <a class="btn btn-secondary btn-lg btn-borderless" href="{% url 'docs' %}"
                               role="button">{% trans "Read our docs" %}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block-inverse block-parallax app-high-praise"
                 style="background-image: url({% static 'images/autosharing.jpg' %});">
                <div class="container">
                    <div class="row app-align-center py-3">
                        <div class="col-sm-5 push-sm-7 py-5" style="background-color: #1DA1F2">
                            <h6 class="text-muted text-uppercase">{% trans "Simplified Sharing" %}</h6>
                            <h3>{% trans " Share captures automatically via Facebook, Twitter and Email." %}</h3>
                            <p class="lead mb-4 text-muted">{% trans " Promote your work with the reliability of the MyMensor certification. Your customers and friends can easily check the location and date of the media capture, even without a MyMensor subscription." %}</p>
                            <a class="btn btn-secondary btn-lg btn-borderless"
                               href="https://app.mymensor.com/accounts/register/"
                               role="button">{% trans "Try Now" %}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block-foreground block-fill-height"
                 style="background-image: url({% static 'images/bigdata.jpg' %});">
                <div class="container">
                    <div class="row app-align-center">
                        <div class="col-md-5 push-md-7">

                        </div>
                        <div class="col-md-6 pull-md-5 py-5" style="background-color: #a5d3ff">
                            <h6 class="text-gray-dark text-uppercase">{% trans "Build your own bigdata" %}</h6>
                            <h3>{% trans "Use our web application to gather and view your data, in numerical and graphical ways." %}</h3>
                            <p class="lead mb-4 text-gray-dark">{% trans "Using our web application you can stablish operational ranges, yellow and red alarm ranges. Export your data to a CSV file and use wherever you need it." %}</p>
                            <a class="btn btn-secondary btn-lg btn-borderless" href="{% url 'docs' %}"
                               role="button">{% trans "Read our docs" %}</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="block block-secondary app-block-marketing-grid">
                <div class="container text-xs-center">

                    <div class="row mb-5">
                        <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
                            <h6 class="text-muted text-uppercase mb-2">{% trans "Inside MyMensor" %}</h6>
                            <h3 class="mb-4">{% trans "It's easy to see how we make your life more efficient every day." %}</h3>
                        </div>
                    </div>


                    <div class="row app-marketing-grid">
                        <div class="col-md-4 px-4 mb-5">
                            <img class="mb-1" src="{% static "images/svgar.svg" %}">
                            <p>
                                <strong>{% trans "Augmented Reality" %}</strong>{% trans " Capture the image always in the same position. Images are filled automatically. (Available only with MyMensorAR and up)" %}
                            </p>
                        </div>
                        <div class="col-md-4 px-4 mb-5">
                            <img class="mb-1" src="{% static "images/svgcertificate.svg" %}">
                            <p>
                                <strong>{% trans "Certification" %}</strong>{% trans "We automatically certify time and location of the images." %}
                            </p>
                        </div>
                        <div class="col-md-4 px-4 mb-5">
                            <img class="mb-1" src="{% static "images/svgsharing.svg" %}">
                            <p>
                                <strong>{% trans "Sharing" %}</strong>{% trans " We automatically and immediately share your captures." %}
                            </p>
                        </div>
                    </div>


                    <div class="row app-marketing-grid">
                        <div class="col-md-4 px-4 mb-5">
                            <img class="mb-1" src="{% static "images/svgdatabasecloud.svg" %}">
                            <p>
                                <strong>{% trans "Database" %}</strong>{% trans " All data safe. (Available only with MyMensorAR an up)" %}
                            </p>
                        </div>
                        <div class="col-md-4 px-4 mb-5">
                            <img class="mb-1" src="{% static "images/svgmobile.svg" %}">
                            <p>
                                <strong>{% trans "Mobile Application" %}</strong>{% trans "Android app for capturing images." %}
                            </p>
                        </div>
                        <div class="col-md-4 px-4 mb-5">
                            <img class="mb-1" src="{% static "images/svgsecure.svg" %}">
                            <p>
                                <strong>{% trans " Secure connections " %}</strong>{% trans " Each transmission is always done in HTTPS." %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="block app-price-plans">
                <div class="container text-center">

                    <div class="row mb-5">
                        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <h6 class="text-muted text-uppercase mb-2">Business Talk</h6>
                            <h3>Simple plans. Direct to the point.</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 px-4 pb-2 mb-5">
                            <div class="px-2 mb-2">
                                <h5 class="text-primary text-uppercase mb-4">MyMensor</h5>
                                <img class="mb-4" src="{% static "images/comingsooncomp.svg" %}">
                                <p class="pb-2">Even simpler. For those that just need the certification and sharing
                                    power.</p>
                            </div>

                            <ul class="list-unstyled list-bordered text-xs-left my-4">
                                <li class="py-4"><strong>Certification</strong> time and location</li>
                                <li class="py-4"><strong>Sharing</strong> automatic sharing to Facebook, Twitter and
                                    Email.
                                </li>
                                <li class="py-4"><strong>Secure</strong> all HTTPS</li>
                            </ul>

                            <button class="btn btn-lg btn-secondary btn-block">
                                COMING SOON
                            </button>
                        </div>

                        <div class="col-md-4 px-4 pb-2 mb-5">
                            <div class="px-2">
                                <h5 class="text-primary text-uppercase mb-4">MyMensorAR</h5>
                                <img class="mb-4" src="{% static "images/price.svg" %}">
                                <p class="pb-2">The one size fits all solution. Use Augmented Reality and Data Features
                                    to control your personal and business projects</p>
                            </div>

                            <ul class="list-unstyled list-bordered text-xs-left my-4">
                                <li class="py-4"><strong>ALL MYMENSOR FEATURES PLUS</strong></li>
                                <li class="py-4"><strong>AR</strong> automatic and precise captures</li>
                                <li class="py-4"><strong>Database</strong> build your own bigdata</li>
                            </ul>

                            <a class="btn btn-primary btn-lg btn-block"
                               href="https://app.mymensor.com/accounts/register/"
                               role="button">{% trans "Start MyMensorAR account" %}</a>
                        </div>

                        <div class="col-md-4 px-4 pb-1 mb-5">
                            <div class="px-2">
                                <h5 class="text-primary text-uppercase mb-4">MyMensorCorp</h5>
                                <img class="mb-4" src="{% static "images/uponrequestcomp.svg" %}">
                                <p class="pb-2">A taylor made solution for your corporation. Drop us an email and we
                                    will build your custom setup together.</p>
                            </div>

                            <ul class="list-unstyled list-bordered text-xs-left my-4">
                                <li class="py-4"><strong>ALL MYMENSORAR FEATURES PLUS</strong></li>
                                <li class="py-4"><strong>API access</strong> upon request</li>
                                <li class="py-4"><strong>Mobile App</strong> custom setups</li>
                            </ul>

                            <a class="btn btn-primary btn-lg btn-block" href="mailto: contact@mymensor.com"
                               role="button">{% trans "Upon Request" %}</a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="mediaContent" class="img-fluid" src="{% static 'images/compostelamediacheck2.jpeg' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script>
            $(document).ready(function () {
                if ($(".eupopup").length > 0) {
                    $(document).euCookieLawPopup().init({
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == "pt" %}
                        'info': 'YOU_CAN_ADD_MORE_SETTINGS_HERE',
                        'popupTitle': 'Este website utiliza cookies. ',
                        'popupText': 'Nós utilizamos cookies para lhe dar a melhor experiência. Se você continuar a usar nosso website, consideraremos que você aceita receber todos os cookies deste website.'
                        {% else %}
                        'info': 'YOU_CAN_ADD_MORE_SETTINGS_HERE',
                        'popupTitle': 'This website is using cookies. ',
                        'popupText': 'We use them to give you the best experience. If you continue using our website, we\'ll assume that you are happy to receive all cookies on this website.'
                        {% endif %}
                    });
                }
            });
        </script>
    {% endblock %}
{% endlocaltime %}
