{% load staticfiles i18n tz %}
{% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Basic Page Needs.
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
                MyMensor
            {% endblock %}
        </title>
        <meta name="MyMensor WebApp" content="">
        <meta name="SeaMate" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600'
              rel='stylesheet' type='text/css'>

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{% static 'css/toolkit-startup.css' %}">
        <link rel="stylesheet" href="{% static 'css/application-startup.css' %}">
        <link rel="stylesheet" href="{% static 'css/social-share-kit.css' %}">
        <link rel="stylesheet" href="{% static 'css/mymwebsitestyle.css' %}">
        <!-- Favicon
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'images/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#00afef">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="msapplication-config" content="images/browserconfig.xml">
        <meta name="theme-color" content="#00afef">
        {% block header %}{% endblock %}
    </head>

    <body>

    <nav class="navbar navbar-toggleable-sm navbar-light" style="background-color: #e3f2fd;" id="myNavbar">
        <div class="container">
            <button type="button"
                    class="navbar-toggler navbar-toggler-right"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/Logo_MyMensor_NEW3.svg' %}" width="46" height="46" alt="">
            </a>
            <div id="navbarNavDropdown" class="collapse navbar-collapse mr-auto">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'docs' %}">{% trans "Docs" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'videos' %}">{% trans "Videos" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://app.mymensor.com/accounts/login/">Login</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://app.mymensor.com/accounts/register/"><strong
                            style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">Register</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div><!-- /.container -->
        {% block footer %}
            <div class="block block-inverse app-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mb-5">
                            <ul class="list-unstyled list-spaced">
                                <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
                                <li class="text-muted">
                                    It' been a long journey and we are just starting! Contact us anytime at <a
                                        href="mailto: contact@mymensor.com">contact@mymensor.com</a>.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 offset-md-1 mb-5">
                            <ul class="list-unstyled list-spaced">
                                <li class="mb-2"><h6 class="text-uppercase">Product</h6></li>
                                <li><a class="text-muted" href="{% url 'docs' %}">Docs</a></li>
                                <li><a class="text-muted" href="{% url 'videos' %}">Videos</a></li>
                                <li><a class="text-muted" href="{% url 'faq' %}">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-5">
                            <ul class="list-unstyled list-spaced">
                                <li class="mb-2"><h6 class="text-uppercase">Legal</h6></li>
                                <li><a class="text-muted" href="{% url 'terms' %}">Terms of Service</a></li>
                                <li><a class="text-muted" href="{% url 'privacy' %}">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-5 mb-5">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <ul class="list-unstyled list-spaced">
                            <li class="mb-2"><h6 class="text-uppercase">{% trans "Language" %}</h6></li>
                            {% for language in languages %}
                                <li>
                                    <a class="text-muted" href="/{{ language.code }}/"
                                            {% if language.code == LANGUAGE_CODE %}
                                       class="selected" {% endif %}>
                                        {{ language.name_local }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        {% endblock %}

    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/tether.min.js" %}"></script>
    <script src="{% static "js/toolkit.js" %}"></script>
    <script src="{% static "js/application.js" %}"></script>
    <script src="{% static "js/social-share-kit.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
    <!-- Page Local Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block javascript %}{% endblock %}
    {% block extra_head %}{% endblock %}
    </body>
    </html>
{% endlocaltime %}
