{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Videos - {{ block.super }}{% endblock %}
{% block content %}
    <p></p>
    <h3>Videos</h3>
    <p></p>
    <hr>
    <h4>{% trans "Explainer Video" %}</h4>
    <p></p>
    <div id="videosviewexplainer">
        <div class="d-flex align-content-start flex-wrap" style="width: 40rem">
            <div id="video_explainer" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Explainer Video" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/dW-6nKf9eQY" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/dW-6nKf9eQY" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/3QlVKnZ9UJo" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    </div>
    <p></p>
    <hr>
    <h4>{% trans "Mobile App Videos" %}</h4>
    <p></p>
    <div id="videosviewmobapp">
        <div class="d-flex align-content-start flex-wrap">
            <div id="video_mobapp_firststeps" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "First Steps" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/OqWbD2wHhxc" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/OqWbD2wHhxc" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/BjGWgjKuUKk" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
            <div id="video_mobapp_featuretour" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Feature Tour" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/1wHvWiS-R4g" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/1wHvWiS-R4g" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/BIphIFV5oao" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
            <div id="video_mobapp_usingar" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Using Augmented Reality" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/vXABg5wBgeM" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/vXABg5wBgeM" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/8C9TYIeucyY" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
            <div id="video_mobapp_capturingmedia" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Capturing Images and Videos" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Td8D6i8888U" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Td8D6i8888U" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/ntnEyVDH4Bk" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <hr>
    <h4>{% trans "Web App Videos" %}</h4>
    <p></p>
    <div id="videosviewwebapp">
        <div class="d-flex align-content-start flex-wrap">
            <div class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Feature Tour" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/YkxVwbMczs4" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/YkxVwbMczs4" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/bcHc_IITbeE" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
            <div id="video_webapp_cfgvpstags" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Configuring VPs and TAGs" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/vNLKC-YMSj4" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/vNLKC-YMSj4" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/QQucCX0lXkI" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
            <div id="video_webapp_mediadata" class="card card-outline-primary m-2">
                <div class="card-header text-primary">
                    <p class="card-text">{% trans "Media and Data" %}</p>
                </div>
                {% if LANGUAGE_CODE == "pt" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/MA4R3-khniI" frameborder="0"
                        allowfullscreen></iframe>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/MA4R3-khniI" frameborder="0"
                        allowfullscreen></iframe>
                {% else %}
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/cLk3ufFanzQ" frameborder="0"
                        allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    </div>
    <p></p>

{% endblock %}