{% extends 'innerbase.html' %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Videos - {{ block.super }}{% endblock %}
{% block content %}
    <h1 class="mt-5 mb-5 ml-4">{% trans "Videos" %}</h1>
    <hr>
    <h4>{% trans "Explainer Video" %}</h4>
    <p></p>
    <div id="videosviewexplainer">
        <div class="d-flex align-content-start flex-wrap">
            <div id="video_explainer" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XjfkmtLSKAc"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XjfkmtLSKAc"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SBXPb1sLWdA"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "Presentation Video" %}</h4>
                    <p class="card-text">{% trans "Video explaining the basics of MyMensor, including the complete solution, in its mobile and web portions." %}</p>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <hr>
    <h4>{% trans "Mobile App Videos" %}</h4>
    <p></p>
    <div id="videosviewmobapp">
        <div class="d-flex align-content-start flex-wrap">
            <div id="video_mobapp_firststeps" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FFC_L8Xggp8"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FFC_L8Xggp8"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wedYx-PftbA"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "First Steps" %}</h4>
                    <p class="card-text">{% trans "Learn here how to start using MyMensor mobile app." %}</p>
                </div>
            </div>
            <div id="video_mobapp_featuretour" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qc_xjTlsOVs"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qc_xjTlsOVs"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/je1mCwM6IP4"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "Feature Tour" %}</h4>
                    <p class="card-text">{% trans "Learn more about the features of the MyMensor mobile app." %}</p>
                </div>
            </div>
            <div id="video_mobapp_usingar" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yX_H38bUgss"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yX_H38bUgss"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vYbIPbeZkrE"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "Using Augmented Reality" %}</h4>
                    <p class="card-text">{% trans "Learn how to configure MyMensor to capture images using Augmented Reality (AR)." %}</p>
                </div>
            </div>
            <div id="video_mobapp_capturingmedia" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iMOYL_gSTaw"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iMOYL_gSTaw"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LjC9VSmymcA"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "Capturing Images and Videos" %}</h4>
                    <p class="card-text">{% trans "Learn how to capture media with MyMensor, using or not using Augmented Reality." %}</p>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <hr>
    <h4>{% trans "Web App Videos" %}</h4>
    <p></p>
    <div id="videosviewwebapp">
        <div class="d-flex align-content-start flex-wrap">
            <div id="video_webapp_media" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aSwTjp9w40Y"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aSwTjp9w40Y"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s7tF6NcTmSg"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "Feature Tour - Media Plan" %}</h4>
                    <p class="card-text">{% trans "Learn about some of the features of the MyMensor web application when using the Media Plan." %}</p>
                </div>
            </div>
            <div id="video_webapp_mediaanddata" class="card card-outline-secondary m-3" style="width: 22rem;">
                {% if LANGUAGE_CODE == "pt" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/81Lre57kk8w"
                                allowfullscreen></iframe>
                    </div>
                {% elif LANGUAGE_CODE == "pt-br" %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/81Lre57kk8w"
                                allowfullscreen></iframe>
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AFWZLODTnbU"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title">{% trans "Feature Tour - Media and Data Plan" %}</h4>
                    <p class="card-text">{% trans "Learn about some of the features of the MyMensor web application when using the Media and Data Plan." %}</p>
                </div>
            </div>
        </div>
    </div>
    <p></p>

{% endblock %}